/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
/vendor
composer.lock
package-lock.json
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.fleet
/database/*.sqlite
/database/*.sqlite-journal
company-suite-laravel-tashkeel.zip
*-tashkeel.zip
